<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My proj</title>
    <!-- Filepond stylesheet -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

    <!-- image encoding -->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

    <!-- image preview by Filepond -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <!-- image resize -->
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <!-- Filepond js library -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <script defer src="/javascript/fileUpload.js"></script>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <%- include('../partials/error.ejs')%>
    <%- body%>
</body>
</html>