<h2>New Author</h2>

<form action="/authors/new" method="POST">
    <%- include('_form_fields')%>
    <a href="/">Cancel creating an author</a>
    <button type="submit">Create an author</button>
</form>